@import "ui-variables";

@godoc-bg: lighten(@overlay-background-color, 15%);

.godoc-tooltip {
  white-space: pre-wrap;
  border: @overlay-border-color;
  margin-top: 4px;
  display: flex;
  border-radius: @component-border-radius * 1.5;
  border-top-left-radius: 0;
  box-shadow: 0 1px 3px hsla(0, 0, 0%, 0.4);
  color: @godoc-bg;
  background: @text-color;
  padding: 4px;
  overflow-y: auto; // TODO: still not getting scroll bars...
  //max-width: 800px;

  transition: opacity 300ms;
  &.transparent {
    opacity: 0.2;
  }

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    border: 4px solid;
    border-color: transparent transparent @text-color @text-color;
  }
}

.close {
  text-shadow: none;
}

#godoc-progress {
  display: none;

  &.godoc-in-progress {
    display: block;
    padding-right: 35px;
  }
}

// When the "godoc-in-progress" class is applied,
// the progress indicator is visible and the actual
// doc message is not displayed.

#godoc-message.godoc-in-progress {
  display: none;
}
